html,
body
{
    margin: 0;
    padding: 0;
    font-family: Arial, "Bitstream Vera Sans", Helvetica, sans-serif;
    font-size: 1em;
    background-color: white;
    color: #58585a;
}
p {
    width: 80%;
    font-family: Arial, "Bitstream Vera Sans", Helvetica, sans-serif;
    font-size: 1.1em;
    color: #58585a;
    margin-left: 1em;
    text-align: justify;
}
img
{
    border: 0;
}

a
{
    color: #224466;
}

h1,
h2,
h3
{
    font-family: Georgia, "Bitstream Vera Serif", Palatino, serif;
    font-weight: normal;
    line-height: 1em;
}
h1
{
    font-size: 1.8em;
    color: #224466;
    margin: 0.5em 0 0.7em 0;
    text-decoration: none;
    padding-bottom: 0.5em;
/*    border-bottom: 1px solid #224466; */
    width: 80%;
}

h2
{
    font-size: 1.5em;
    color: #337799;
    margin: 0.7em 0 0.5em 0;
}

h3
{
    font-size: 1.35em;
    font-style: italic;
    color: #337799;
    margin: 0.5em 0;
}
h4,
h5
{
	font-family: arial, Georgia, "Bitstream Vera Serif", Palatino, serif;
    font-weight: normal;
    line-height: 1em;
    color:#337799;
}


/* ------------------------------------------------------------ Document --- */
.document
{
    margin-left:200px;
    font-size: 0.8em;
    padding: 0;
    margin: 0 300px 0 220px;
    min-height: 850px;
}

/* ------------------------------------------------------------- Sidebar --- */
.sidebar
{
    width: 200px;
    font-size: 0.8em;
    position: absolute;
    left: 0;
    margin: 0 2em;
    padding: 0;
}
.sidebar-title
{
    display: none;
}
.sidebar a {
    text-decoration: none;
}

.sidebar ul
{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.sidebar ul li
{
    margin-top: .35em;
}

.sidebar ul li ul
{
    margin-left: 0.5em;
    padding: 0;
}

.sidebar li
{
    font-weight: bold;
    padding: 0 0 0.5em 0;
}

.sidebar li ul li
{
    font-weight: normal;
    padding: 0 0 0.3em 0;
}


/* -------------------------------------------------------------- Header --- */
.header hr
{
    display: none;
}
.header
{
    height: 200px;
    background: -moz-linear-gradient(45deg, #C6E2FF 0%, #003F87 100%) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(45deg, #C6E2FF 0%, #003F87 100%) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(45deg, #C6E2FF 0%, #003F87 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
    color: #FFFFFF;
    padding: 30px 0;
    position: relative;
    color: white;
    font-size: 32pt;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}
.header strong
{
    padding-top: 10px;
    font-size: 64pt;
}
.header img
{
    padding-left:200px;
    margin-right:20px;
    float: left;
}

/* -------------------------------------------------------------- Footer --- */
.footer hr
{
    display: none;
}
.footer
{
    height: 50px;
}
